{% extends "base.html" %}

{% block body %}
  <p class="menu-label">Posts</p>
  {% for post in posts %}
    <div class="box">
      <a href="{{ url_for('post', name=post.name) }}"><p class="title is-4">{{ post.title() }}</p></a>
      <br>
      <p>
        {{ post.description()|safe }} <a href="{{ url_for('post', name=post.name) }}">Read More</a>
      </p>
      <br>
      <span class="icon">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </span>
      <time>{{ post.date().strftime("%B %-d, %Y") }}</time>
    </div>
  {% endfor %}
{% endblock %}
