[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mistune = "*"

[requires]
python_version = "3.7"

[dev-packages]
Flask = "*"
Flask-Misaka = "*"
Frozen-Flask = "*"
mistune = "*"
pygments = "*"
maturin = "*"

[dev-packages.python-language-server]
extras = [ "all",]
