body {
	/* Set content width to 72 characters and add some padding */
	margin: 2em auto;
	max-width: 72ch;

	/* Add some padding for screens smaller then 72 ch wide */
	padding: 0 1em;

	/* Make the font more readable for screen */
	line-height: 1.5;
	font-size: 1.2em;

	/* Light mode is best for readability in all environments */
	background: #fff;
	color: #333;

	/* Transitional font stack */
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

img {
	/* Make image sizes consistent*/
	max-width: 80%;

	/* Add some space */
	padding: 1em;

	/* Center images */
	display: block;
	margin: auto;
}

code {
	/* Monospaced font stack */
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

pre {
	/* Visually seperate code blocks */
	background: #eee;
	padding: 1em 0;

	/* Large line heights doesn't work well for monospaced fonts */
	line-height: 1.2;

	/* Add scroll bars if needed */
	overflow: auto;
}

blockquote {
	/* Visually seperate quotes */
	color: #555;
	padding: 1em 0;
}

footer, figcaption {
	/* Stylize nav text */
	text-align: center;
	color: #555;
}
