body {
	/* Set content width to 72 characters and add some padding */
	margin: 5% auto;
	max-width: 72ch;

	/* Add some padding for mobile devices */
	padding: 0 10px;

	/* Make the font more readable for screen */
	line-height: 1.6;
	font-size: 1.2em;

	/* Set colors based on PaperColor theme */
	background: #eee;
	color: #444;
}

h1,h2,h3 {
	/* Make headings a little tighter */
	line-height: 1.2;
}

img {
	/* Resize images */
	max-width: 100%;
}

pre,code {
	/* Visually differentiate code and preformatted text */
	background: #fff;
}

footer,figcaption {
	/* Stylize helper text */
	text-align: center;
	color: #666;
}
